body {
  margin: 0;
}

.nav-bar {
  background-color: lightgray;
  display: flex;
  align-items: center;
}

.nav-icon img {
  width: 50px;
  height: 50px;
  
}

.nav-icon a {
  display:inline-block;
  width:100%;
  height:100%;
  padding: 5px;
}

.nav-item {
  font-size: 4vw;
  padding: 0px 0px 0px 25px;
}

.nav-item a {
  text-decoration: none;
  color: black;
}

.nav-item a.router-link-active {
  text-decoration: underline;
  color: black;
}

.card-list-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.card-container {
  display: flex;
}

.card-name-container {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
}

.card-name {
  display: flex;
  flex: 1 100%;
  flex-wrap: wrap;
  font-size: 4vw;
}

.card-cost {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 3vw;
  color: gray;
}

.card-types {
  display: flex;
  flex: 1;
  font-size: 3vw;
  color: gray;
}

.card-set {
  display: flex;
  flex: 1;
  font-size: 3vw;
}

.card-replace {
  display: flex;
  flex: 1;
  padding: 5px;
}

.card-replace button {
  width: 100%;
}