.card-list-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
}

.card-name-container {
  display: flex;
  flex: 2;
  flex-wrap: wrap;
}

.card-name {
  display: flex;
  flex: 1 100%;
  flex-wrap: wrap;
  font-size: 4vw;
}

.card-cost {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 3vw;
  color: gray;
}

.card-types {
  display: flex;
  flex: 1;
  font-size: 3vw;
  color: gray;
}

.card-set {
  display: flex;
  flex: 1;
  font-size: 3vw;
}

.card-replace {
  display: flex;
  flex: 1;
  padding: 5px;
}

.card-replace button {
  width: 100%;
}